@charset "utf-8";

@import url("//fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("//fonts.googleapis.com/css?family=Raleway:300,500,700");

@import 'normalize';
@import 'variables'; //revert to tripit defaults
@import 'variables2'; // tradegecko overrides
@import 'icon-font';


@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import 'bootstrap/scss/grid';
@import 'bootstrap/scss/tables';
@import 'bootstrap/scss/forms';
@import 'bootstrap/scss/button-group';
@import 'bootstrap/scss/alert';
@import "bootstrap/scss/utilities/spacing";
@import "bootstrap/scss/utilities/float";

@import "@tradegecko/styles/scss/settings/base-colors";
@import "@tradegecko/styles/scss/settings/decorators";
@import "@tradegecko/styles/scss/settings/svgs";
@import "@tradegecko/styles/scss/settings/sizing";
@import "@tradegecko/styles/scss/settings/text";
@import "@tradegecko/styles/scss/tools/text";
@import "@tradegecko/styles/scss/components/buttons";
@import "@tradegecko/styles/scss/components/title-text";
@import "@tradegecko/styles/scss/tools/svg";
@import "@tradegecko/styles/scss/objects/base";
@import "@tradegecko/styles/scss/objects/page";
@import "@tradegecko/styles/scss/components/site-header";
@import "@tradegecko/styles/scss/components/site-footer";

@import 'components/feedback-banner';
@import 'components/home-cta';
@import 'components/link-list';
@import 'components/footer';
@import 'components/search';
@import 'components/card-list';


@import 'original';

.index-page__section {
  margin-top: 100px;
}

.plain-link {
  text-decoration: none;
  color: #70cf32;
}
.base__body {
  overflow: visible;
}

.btn-primary {
  color: white;
}

.site-header {
  border-bottom: none;
}

.base__footer {
  margin-top: 50px;
}

$border-base: solid 1px $gray-3;
$base-shadow: 0px 1px 3px rgba(0, 0, 0, 0.10);
$border-radius: 3px;
