<%
  @links = {
    company: [
      {name: 'Our story'},
      {name: 'Team'},
      {name: 'Careers'},
      {name: 'In the press'},
      {name: 'Press kit'}
    ],
    contact: [
      {name: 'Speak to us'},
      {name: 'Chat with us'},
      {name: 'Email us'},
      {name: 'Visit us'}
    ],
    getting_help: [
      {name: 'Help Desk'},
      {name: 'Community'},
      {name: 'Staus'}
    ],
    partners: [
      {name: 'Become a partner'},
      {name: 'Partner portal'},
      {name: 'Find a partner'},
      {name: 'Developers & API'}
    ]
  }
%>
<div class="feedback-banner">
    <h2>
      Got Feedback we want to header from you
    </h2>
    <a href="https://tradegecko.typeform.com/to/A2ewy0" class="btn btn-big btn-primary" >
      Give Feedback
    </a>
</div>
<div class="base__footer">
  <div class="corner-ribbon-bounds corner-ribbon-bounds--loose">
    <a class="corner-ribbon corner-ribbon--moko" href="#">
      Were Hiring
    </a>
  </div>
  <div class="footer-wrapper">
    <div class="container">
      <div class="row">
        <% @links.each_pair do |key, value| %>
          <div class="col-2">
          <h4><%= key.capitalize %></h4>
            <ul class="link-list">
              <% value.each do |link| %>
                <li><a href="#"><%= link[:name] %></a></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="col-4">
          <button href="#" class="btn btn-big btn-primary" >
            Subscribe to our newsletter
          </button>
          <legend>
            You'll get useful news from our blog, as well as periodic product update emails. Unsubscribe any time.
          </legend>
        </div>
      </div>
      <div class="row" style="margin-top: 100px;">
        <div class="footer-moko">
      </div>
    </div>

  </div>
</div>
