<div class="base__header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <header class='site-header'>
          <div class="site-header__branding col-sm p-0">
            <a href="#" class="site-header__logo" ></a>
            <a href="#" class="site-header__title" >
                <strong class="site-header__title--strong">TradeGecko</strong> Developer
            </a>
          </div>
        </header>
      </div>
    </div>
  </div>
  <div style="background:#F4F4F5;padding:10px 20px;border-top: 1px solid #e2e6e8;">
    <div class="container">
      <%= partial "includes/search" %>
    </div>
  </div>
</div>
