.card-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}


.secondary-card{
  &.study-card {
    background: none;
    border: solid 1px $gray-3;
    border-radius: 5px;
  }

  .study-blurb {
    height:175px;
    background: none;
  }
}
.study-card {
  width: 32%;
  background:#4A90E2;
  border-radius: 5px;
  display:inline-block;
  overflow: visible;

  img {
    position: absolute;
    bottom: 13px;
  }
}


.study-blurb {
  position: absolute;
  width: 100%;
  bottom: 0;
  background:#F4F4F5;
  height:220px;
  padding:20px;
  position: relative;
}


.card__sticky-button {
  position: absolute;
    bottom: 30px;
}
