---
title: TradeGecko API Documentation

language_tabs: # must be one of https://git.io/vQNgJ
  - ruby
  - shell

toc_footers:
  - <a href='https://go.tradegecko.com/register'>Sign up for an Account</a>
  - <a href='http://github.com/tripit/slate'>Documentation Powered by Slate</a>

includes:
  - libraries

guides:
  - creating_a_sales_order
  - fulfilling_a_sales_order

asides:
  - registering_an_application
  - authentication_flows
  - authorization_code
  - privileged_access_token
  - pagination
  - filtering
  - metadata
  - rate_limiting
  - idempotency_keys
  - soft_deletion
  - sideloading
  - errors

resources:
  - account
  - address
  - company
  - contact
  - currency
  - fulfillment
  - fulfillment_line_item
  - fulfillment_return
  - fulfillment_return_line_item
  - image
  - invoice
  - invoice_line_item
  - location
  - note
  - order
  - order_line_item
  - payment_term
  - product
  - purchase_order
  - purchase_order_line_item
  - stock_adjustment
  - stock_adjustment_line_item
  - stock_transfer
  - stock_transfer_line_item
  - tax_type
  - user
  - variant
  - webhook

search: true
home: false
---

# TradeGecko API Reference

This website documents the public API for [TradeGecko](https://www.tradegecko.com)

You can view code examples in the dark area to the right; switch the programming language of the examples with the tabs in the top right.

If anything is missing or seems incorrect, please check the [GitHub issues](https://github.com/tradegecko/smaug/issues)
for existing known issues or [create a new issue](https://github.com/tradegecko/smaug/issues/new).

<%= partial "includes/authentication" %>
<%= partial "includes/guides" %>

# Resources
<%= partial "includes/resources" %>
